<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="web/assets/images/favicon-bank.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="web/assets/style/style.css">
    <title>Manager</title>
</head>

<body>
    <div id="app">
        <header class=" d-flex justify-content-center align-items-center">
            <h1 class="display-5 fw-bold bg-secondary-subtle p-2 rounded-3 mx-2">Welcome to Brothers MindHub Bank -
                Manager
            </h1>
        </header>

        <main>
            <div class="container mt-5 text-light">
                <form>
                    <h2>Client Manager</h2>
                    <div class="mb-3">
                        <label for="name" class="form-label">First name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Name..." v-model="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name..."
                            v-model="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Email..." v-model="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <button type="submit" class="btn btn-warning" @click.prevent="voidInput">Add Client</button>
                </form>
                <div class="mt-5">
                    <table class="table table-bordered table-striped border border-warning ">
                        <h2>Client list</h2>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-if="clients.length > 0" v-for="(client, index) of clients">
                                <tr>
                                    <td>{{index+1}}</td>
                                    <td>{{client.firstName}}</td>
                                    <td>{{client.lastName}}</td>
                                    <td>{{client.email}}</td>
                                </tr>
                            </template>
                            <tr v-else>
                                <td>0</td>
                                <td>No show Data</td>
                                <td>No show Data</td>
                                <td>No show Data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container mt-5">
                    <h2>Client REST response</h2>
                    <pre>
                        {{json}}
                    </pre>
                </div>
            </div>
        </main>

        <footer class="d-flex  align-items-center justify-content-around">
            <img src="web/assets/images/icon-bank.png" alt="logo" title="logo" class="logo">
            <p class="text-white">Brothers Mindhub</p>

            <div class="flex-wrap d-flex">
                <a target="_blank" href="https://es-la.facebook.com/"><img src="web/assets/images/facebook (2).png"
                        alt="facebook" title="Facebook" class="network-icon"></a>
                <a target="_blank" href="https://web.whatsapp.com/"><img src="web/assets/images/whatsapp (2).png"
                        alt="whatsapp" title="Whatsapp" class="network-icon"></a>
                <a href="tel: +57123456789"><img src="web/assets/images/phone.png" alt="call-center" title="Call center"
                        class="network-icon"></a>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="web/assets/scripts/manager.js"></script>
</body>

</html>