nav {
  background-color: #14274f;
}

.logo {
  height: 5rem;
}

/*Log out #14274f*/
.animated-button{
    background-color: cadetblue;
    border-radius: 15px;
    width: 10rem;
    height: 2rem;
}

.animated-button:hover{
    background-color: rgb(182, 18, 18);
    color: white;
}

/*Header*/
header{
    background: url("../images/manager_header.jpg");
    min-height: 50vh;
    background-size: cover;
}

#section-header, .btn, footer{
    background-color: #14274f;
}

body{
    background-color: #ccdbfd;
}

footer a{
 text-decoration: none;
}

.network-icon{
    width: 2.5rem;
}