<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="../style/style.css" />
  <link rel="shortcut icon" href="../images/Mindhub Brothers-logos.jpeg" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Roboto+Slab&display=swap"
    rel="stylesheet" />
  <title>Mindhub Brothers | Manager</title>
</head>

<body>

  <div id="app">

    <header class="d-flex align-items-center text-center justify-content-around flex-wrap p-2">
      <img src="../images/Mindhub Brothers-logos.jpeg" alt="logo" title="Mindhub Brothers Bank"
        class="logo rounded-5 d-md-none d-lg-block" />
      <section class="text-light rounded-4 p-2 mx-2" id="section-header">
        <h1>WELCOME MANAGER</h1>
        <h3>
          Below you can see the administration of the Mindhub Brothers bank
        </h3>
      </section>

      <div class="d-flex flex-lg-column align-items-center gap-3">
        <button class="animated-button" @click.prevent="logOut">
          <span>Log out</span>
        </button>

        <button type="button" class="rounded-4 px-3" id="bg-dark">DARK MODE</button>

    </header>

    
      <div class="container mt-5 text-light">
        <form>
          <h2>Client Manager</h2>
          <div class="mb-3">
            <label for="name" class="form-label">First name:</label>
            <input type="text" class="form-control" id="name" placeholder="Name..." v-model="firstName" />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name..." v-model="lastName" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Email..." v-model="email" />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name..." v-model="lastName" />
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="button-add" @click.prevent="voidInput">
            Add Client
          </button>
        </form>


        <section class="container mt-3 d-flex align-items-center gap-5 justify-content-center">
          <h2 class="text-dark">Create a new loan: </h2>
            <a href="./loansByManager.html" class="text-light btn btn-warning">Add a new Loan</a>
        </section>

        <main>

        <div class="mt-5">
          <table class="table table-bordered table-striped border border-primary">
            <h2>Client list</h2>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="clients.length > 0" v-for="(client, index) of clients">
                <tr>
                  <td>{{index+1}}</td>
                  <td>{{client.firstName}}</td>
                  <td>{{client.lastName}}</td>
                  <td>{{client.email}}</td>
                </tr>
              </template>
              <tr v-else>
                <td>0</td>
                <td>No show Data</td>
                <td>No show Data</td>
                <td>No show Data</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container mt-5 p-2 rounded-4 text-light" id="json">
          <h2>Client REST response</h2>
          <pre>
                    {{json}}
                </pre>
        </div>
      </div>
    </main>

  </div>

  <footer class="d-flex flex-column justify-content-center align-items-center p-2 text-center">
    <p class="text-light">
      © 2023 Mindhub Brother, Inc | All right reserve to Karen Buitrago
    </p>
    <nav class="d-flex gap-3 justify-content-center">
      <a href="https://github.com/KarenBuitrago2825"><img src="../images/github-sign.png" alt="github"
          title="GitHub Karen Buitrago" class="network-img" /></a>
      <a href="https://web.whatsapp.com/"><img src="../images/whatsapp(1).png" alt="whatsapp" title="WhatsApp"
          class="network-img" /></a>
      <a href="https://www.instagram.com/"><img src="../images/instagram(1).png" alt="instagram" title="Instagram"
          class="network-img" /></a>
      <a href="https://es-la.facebook.com/"><img src="../images/facebook(1).png" alt="facebok" title="Facebook"
          class="network-img" /></a>
      <a href="mailto: mindhubrothers@gmail.com"><img src="../images/gmail.png" alt="mail" title="Mail"
          class="network-img" /></a>
      <a href="tel: 654456987"><img src="../images/customer-service.png" alt="call-center" title="Call Us"
          class="network-img" /></a>
    </nav>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./manager.js"></script>
</body>

</html>